USE [master]
GO
/****** Object:  Database [Referral]    Script Date: 3/21/2017 6:36:29 PM ******/
CREATE DATABASE [Referral]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Referral', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Referral.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Referral_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Referral_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Referral].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Referral]
GO
/****** Object:  StoredProcedure [dbo].[spAddAccount]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddAccount] 
	@Id int out,
	@Email varchar(100),
	@Password varchar(20) = null,
	@UserId int
AS
BEGIN																																						
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	INSERT INTO [TblAccount]
		([Email]
		,[Password]
		,[UserId])
	VALUES
		(@Email
		,@Password
		,@UserId)

	SET @Id = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[spAddCompany]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddCompany]
	@Id int out,
	@Name varchar(100),
	@URL varchar(150)
AS
BEGIN

	INSERT INTO [TblCompany]
		([Name]
		,[URL])
	VALUES
		(@Name
		,@URL)

	Set @Id = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[spAddContact]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddContact] 
	@Id int out,
	@Value varchar(100),
	@ContactTypeId int,
	@UserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	INSERT INTO [TblContact]
		([Value]
		,[ContactTypeId]
		,[UserId])
	VALUES
		(@Value
		,@ContactTypeId
		,@UserId)


	SET @Id = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[spAddLocation]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddLocation]

	@Id int out,
	@Location varchar(max),
	@UserId int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [TblLocation]
		([Location]
		,[UserId])
	VALUES
		(@Location
		,@UserId)

	SET @Id = SCOPE_IDENTITY()
END


GO
/****** Object:  StoredProcedure [dbo].[spAddNumber]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddNumber]
	@Id int out,
	@Number varchar(20),
	@UserId int,
	@NumberTypeId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	INSERT INTO [dbo].[TblNumber]
			   ([Number]
			   ,[UserId]
			   ,[NumberTypeId])
	VALUES
		(@Number
		,@UserId
		,@NumberTypeId)

	SET @Id = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[spAddOpportunity]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddOpportunity]
	@Id int out,
	@Title varchar(250),
	@Description varchar(max),
	@Amount money,
	@City varchar(100),
	@StateId int,
	@UserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [TblOpportunity]
			   ([Title]
			   ,[Description]
			   ,[Amount]
			   ,[City]
			   ,[StateId]
			   ,UserId)
		 VALUES
			   (
			   @Title, @Description, @Amount, @City, @StateId, @UserId
			   )

	SELECT @Id = SCOPE_IDENTITY()

	return @Id
END

GO
/****** Object:  StoredProcedure [dbo].[spAddQualification]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddQualification]
	@Id INT OUT,
	@JobTitle VARCHAR(100),
	@ExperienceId INT,
	@UserId INT

AS
BEGIN

	INSERT INTO [TblQualification]
		([JobTitle]
		,[ExperienceId]
		,[UserId])
	VALUES
		(@JobTitle
		,@ExperienceId
		,@UserId)

	SET @Id = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[spAddUser]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAddUser]
	@Id int out,
	@UserTypeId int,
	@FirstName varchar(50),
	@MiddleInitialId int = null, 
	@LastName varchar(50),
	@SuffixId int = null

AS
BEGIN

	IF @MiddleInitialId = 0
		SELECT @MiddleInitialId = NULL

	If @SuffixId = 0
		SELECT @SuffixId = NULL

	INSERT INTO [TblUser]
			   ([UserTypeId]
			   ,[FirstName]
			   ,[MiddleInitialId]
			   ,[LastName]
			   ,[SuffixId])
		 VALUES
			   (@UserTypeId,
			   @FirstName,
			   @MiddleInitialId,
			   @LastName,
			   @SuffixId)

	SELECT @Id = SCOPE_IDENTITY()

	return @Id
END

GO
/****** Object:  StoredProcedure [dbo].[spAddUserCompany]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddUserCompany] 
	@Id int out,
	@UserId int,
	@CompanyId int
AS
BEGIN

	INSERT INTO [xUserCompany]
			   ([UserId]
			   ,[CompanyId])
	VALUES
		(@UserId
		,@CompanyId)

	SET @Id = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[spEditAccount]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEditAccount] 
	@Id int,
	@Email varchar(100),
	@Password varchar(20),
	@RowsAffected int out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE [TblAccount]
	   SET [Email] = @Email
		  ,[Password] = @Password
	 WHERE Id = @Id


	 SELECT @RowsAffected = @@ROWCOUNT

END

GO
/****** Object:  StoredProcedure [dbo].[spEditCompany]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEditCompany]

	@Id int,
	@Name varchar(100),
	@Active bit,
	@URL varchar(150)

AS
BEGIN

	UPDATE [TblCompany]
	   SET [Name] = @Name
		  ,[Active] = @Active
		  ,[URL] = @URL
	 WHERE [Id] = @Id

END


GO
/****** Object:  StoredProcedure [dbo].[spEditContact]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEditContact] 
	@Id int,
	@Value varchar(100),
	@RowsAffected int out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE [TblContact]
	   SET [Value] = @Value
	 WHERE [ContactId] = @Id

	SET @RowsAffected = @@ROWCOUNT

END
GO
/****** Object:  StoredProcedure [dbo].[spEditOpportunity]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEditOpportunity] 
    @Id int,
    @Title varchar(250),
    @Description varchar(max),
	@Amount money,
    @City varchar(100),
	@StateId int,
	@RowsAffected int out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE TblOpportunity
	   SET [Title] = @Title
		  ,[Description] = @Description
		  ,[Amount] = @Amount
		  ,[City] = @City
		  ,[StateId] = @StateId
	 WHERE [Id] = @Id

	 SELECT @RowsAffected = @@ROWCOUNT
END

GO
/****** Object:  StoredProcedure [dbo].[spEditQualification]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEditQualification]
	@Id int,
	@JobTitle varchar(100),
	@ExperienceId int,
	@UserId int,
	@RowsAffected int out
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [TblQualifications]
	   SET [JobTitle] = @JobTitle
		  ,[ExperienceId] = @ExperienceId
		  ,[UserId] = @UserId
	WHERE ID = @Id


	SET @RowsAffected = @@ROWCOUNT
END


GO
/****** Object:  StoredProcedure [dbo].[spEditUser]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditUser]
	@Id int,
	@UserTypeId int,
	@FirstName varchar(100),
	@MiddleInitialId int,
	@LastName varchar(100),
	@SuffixId int,
	@Active bit,
	@RowsAffected int out
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE [TblUser]
	   SET [UserTypeId] = @UserTypeId
		  ,[FirstName] = @FirstName
		  ,[MiddleInitialId] = @MiddleInitialId
		  ,[LastName] = @LastName
		  ,[SuffixId] = @SuffixId
		  ,[Active] = @Active
	 WHERE UserId = @Id

	 SET @RowsAffected = @@ROWCOUNT
END

GO
/****** Object:  StoredProcedure [dbo].[spGetCandidate]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCandidate]
	@Id int
AS
BEGIN

	SET NOCOUNT ON;

	SELECT U.[UserId]
		,[FirstName]
		,[MiddleInitialId]
		,[MiddleInitial]
		,[LastName]
		,[SuffixId]
		,[Suffix]
		,[Active]
		,[Email]
		,[Number]
		,[JobTitle]
		,[ExperienceId]
		,[YearsExperience] Experience
		,[Location]
	FROM [TblUser] U 
		INNER JOIN TblAccount A
			ON U.UserId = A.UserId
		LEFT JOIN [RMiddleInitial] M
			ON U.MiddleInitialId = M.Id
		INNER JOIN TblNumber N
			ON u.UserId = n.UserId
		INNER JOIN TblQualification Q
			ON u.UserId = q.UserId
		INNER JOIN [RYearsExperience] E
			ON q.ExperienceId = e.Id
		INNER JOIN TblLocation L
			ON u.UserId = L.UserId
		LEFT JOIN [RSuffix] S
			ON u.SuffixId = s.Id
	WHERE U.UserId = @Id
	

END


GO
/****** Object:  StoredProcedure [dbo].[spGetCandidates]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCandidates]

AS
BEGIN

	SET NOCOUNT ON;

	SELECT U.[UserId]
		,[FirstName]
		,[MiddleInitialId]
		,[MiddleInitial]
		,[LastName]
		,[SuffixId]
		,[Suffix]
		,[Active]
		,[Email]
		,[Number]
		,[JobTitle]
		,[ExperienceId]
		,[YearsExperience] Experience
		,[Location]
	FROM [TblUser] U 
		INNER JOIN TblAccount A
			ON U.UserId = A.UserId
		LEFT JOIN [RMiddleInitial] M
			ON U.MiddleInitialId = M.Id
		INNER JOIN TblNumber N
			ON u.UserId = n.UserId
		INNER JOIN TblQualification Q
			ON u.UserId = q.UserId
		INNER JOIN [RYearsExperience] E
			ON q.ExperienceId = e.Id
		INNER JOIN TblLocation L
			ON u.UserId = L.UserId
		LEFT JOIN [RSuffix] S
			ON u.SuffixId = s.Id
	WHERE U.UserTypeId = 2
	ORDER BY U.UserId DESC

END

GO
/****** Object:  StoredProcedure [dbo].[spGetCompanies]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetCompanies]

AS
BEGIN

	SELECT [Id]
		  ,[Name]
		  ,[Active]
		  ,[URL]
	FROM [dbo].[TblCompany]

END

GO
/****** Object:  StoredProcedure [dbo].[spGetCompany]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetCompany]
	@Id int
AS
BEGIN
	SELECT * FROM [TblCompany]
END

GO
/****** Object:  StoredProcedure [dbo].[spGetContact]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetContact] 
	@ContactId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ContactId]
		  ,[Value]
		  ,[ContactTypeId]
	FROM [TblContact]
	WHERE ContactId = @ContactId

END


GO
/****** Object:  StoredProcedure [dbo].[spGetContacts]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetContacts] 
	@UserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [ContactId]
		  ,[Value]
		  ,[ContactTypeId]
		  ,[UserId]
	FROM [TblContact]
	WHERE UserId = @UserId AND ContactTypeId NOT IN (6)


END

GO
/****** Object:  StoredProcedure [dbo].[spGetCredentials]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetCredentials]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id]
		  ,[Username]
		  ,[Password]
	FROM [dbo].[RCredentials]

END

GO
/****** Object:  StoredProcedure [dbo].[spGetExperiences]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetExperiences]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT '' as Id, '' as YearsExperience

	UNION

	SELECT [Id], [YearsExperience] FROM [dbo].[RYearsExperience]


END

GO
/****** Object:  StoredProcedure [dbo].[spGetMiddleInitial]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetMiddleInitial]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id], [MiddleInitial]  FROM [dbo].[RMiddleInitial]
	WHERE [Id] = @Id

END


GO
/****** Object:  StoredProcedure [dbo].[spGetMiddleInitials]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetMiddleInitials]

AS
BEGIN

SELECT '' AS [Id], '' AS [MiddleInitial] FROM [RMiddleInitial]

UNION

SELECT [Id], [MiddleInitial] FROM [dbo].[RMiddleInitial]

END


GO
/****** Object:  StoredProcedure [dbo].[spGetOpportunities]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOpportunities]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id]
		  ,[Title]
		  ,[Description]
		  ,[Amount]
		  ,[City]
		  ,[StateId]
		  ,[UserId]
	  FROM [dbo].[TblOpportunity]

END

GO
/****** Object:  StoredProcedure [dbo].[spGetOpportunity]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetOpportunity]
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id]
		,[Title]
		,[Description]
		,[Amount]
		,[City]
		,[StateId]
		,[UserId]
	FROM [TblOpportunity]
	WHERE Id = @Id

END

GO
/****** Object:  StoredProcedure [dbo].[spGetQualification]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQualification] 
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	SELECT [Id]
		  ,[JobTitle]
		  ,[ExperienceId]
		  ,[UserId]
	FROM [TblQualification]
	WHERE ID = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[spGetQualifications]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetQualifications]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id]
		  ,[JobTitle]
		  ,[ExperienceId]
		  ,[UserId]
	FROM [dbo].[TblQualification]

END

GO
/****** Object:  StoredProcedure [dbo].[spGetRecruiter]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetRecruiter]
	@Id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * FROM Referral..TblUser U
		INNER JOIN Referral..TblAccount A ON
			U.UserId = A.UserId
		INNER JOIN Referral..xUserCompany xC ON
			U.UserId = xC.UserId
		INNER JOIN Referral..TblCompany C ON
			xC.CompanyId = c.Id
		LEFT JOIN Referral..RMiddleInitial MI ON
			U.MiddleInitialId = MI.Id
		LEFT JOIN Referral..RSuffix S ON
			U.SuffixId = S.Id
	WHERE U.UserId = @Id

END

GO
/****** Object:  StoredProcedure [dbo].[spGetRecruiters]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetRecruiters]

AS

BEGIN

	DECLARE @UserTypeId int

	SELECT @UserTypeId = [UserTypeId] FROM [dbo].[RUserType] WHERE [UserType] = 'Recruiter'

	SELECT U.[UserId]
		  ,U.[UserTypeId]
		  ,U.[FirstName]
		  ,U.[MiddleInitialId]
		  ,U.[LastName]
		  ,U.[SuffixId]
		  ,U.[Active]
		  ,A.Email
		  ,C.Name Company
		  ,C.URL
	FROM [dbo].[TblUser] U
		INNER JOIN [dbo].TblAccount A ON 
			U.UserId = A.UserId
		INNER JOIN Referral..xUserCompany xC ON
			U.UserId = xC.UserId
		INNER JOIN Referral..TblCompany C ON
			xC.CompanyId = c.Id
	WHERE U.UserTypeId = @UserTypeId
	ORDER BY U.LastName
	--ORDER BY Company
	--ORDER BY U.[UserId]
END

GO
/****** Object:  StoredProcedure [dbo].[spGetRecruitersFromIds]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetRecruitersFromIds]
	@RecruiterIds varchar(max)
AS

BEGIN

	DECLARE @UserTypeId int

	SELECT @UserTypeId = [UserTypeId] FROM [dbo].[RUserType] WHERE [UserType] = 'Recruiter'

	SELECT U.[UserId]
		  ,U.[UserTypeId]
		  ,U.[FirstName]
		  ,U.[MiddleInitialId]
		  ,U.[LastName]
		  ,U.[SuffixId]
		  ,U.[Active]
		  ,A.Email
		  ,C.Name Company
		  ,C.URL
	FROM [dbo].[TblUser] U
		INNER JOIN [dbo].TblAccount A ON 
			U.UserId = A.UserId
		INNER JOIN Referral..xUserCompany xC ON
			U.UserId = xC.UserId
		INNER JOIN Referral..TblCompany C ON
			xC.CompanyId = c.Id
	WHERE U.UserTypeId = @UserTypeId 
		AND CONVERT(varchar, u.UserId) IN (@RecruiterIds)

END

GO
/****** Object:  StoredProcedure [dbo].[spGetResume]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetResume] 
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT [Id]
	  ,[Name]
	  ,[FileType]
	  ,[Data]
	  ,[UserId]
	FROM [Referral].[dbo].[TblFile]
	WHERE UserId = @Id

END

GO
/****** Object:  StoredProcedure [dbo].[spGetSuffix]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetSuffix] 
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [Id], [Suffix] FROM [RSuffix] WHERE ID = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[spGetSuffixes]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetSuffixes] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT '' AS Id, '' AS Suffix

	UNION

	SELECT [Id], [Suffix] FROM [dbo].[RSuffix]

END

GO
/****** Object:  StoredProcedure [dbo].[spGetUser]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetUser]
	@Id Int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT U.[UserId]
		,U.[UserTypeId]
		,U.[FirstName]
		,U.[MiddleInitialId]
		,U.[LastName]
		,U.[SuffixId]
		,A.Email
	FROM [TblUser] U INNER JOIN [dbo].[TblAccount] A
		ON	U.UserId = A.UserId
	WHERE U.UserId = @Id AND Active = 1
END

GO
/****** Object:  StoredProcedure [dbo].[spGetUsers]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetUsers]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [UserId]
		  ,[UserTypeId]
		  ,[FirstName]
		  ,[MiddleInitialId]
		  ,[LastName]
		  ,[SuffixId]
		  ,[Active]
	  FROM [dbo].[TblUser]

END
GO
/****** Object:  StoredProcedure [dbo].[spGetUserType]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetUserType] 
	@UserTypeId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [UserTypeId]
		  ,[UserType]
	FROM [dbo].[RUserType]
	WHERE [UserTypeId] = @UserTypeId
END

GO
/****** Object:  StoredProcedure [dbo].[spLogError]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLogError]
	@Id int out,
	@Message varchar(max),
	@Method varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [TblLog]
			   ([Message]
			   ,[Method])
	VALUES
		(@Message
		,@Method)

	SELECT @Id = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLogin] 
	@Email varchar(100),
	@Password varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT U.UserId FROM TblAccount A
		INNER JOIN TblUser U ON
			A.UserId = A.UserId
		INNER JOIN [RUserType] UT ON
			U.UserTypeId = UT.UserTypeId
	WHERE A.Email = @Email 
		AND A.Password = @password 
		AND UT.UserTypeId = 1
	
END

GO
/****** Object:  StoredProcedure [dbo].[spLogNotice]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLogNotice]
	@Id int out,
	@CandidateId int,
	@NumberOfMessagesSent int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [TblNotice]
		([CandidateId]
		,[NumberOfMessagesSent])
	VALUES
		(@CandidateId
		,@NumberOfMessagesSent)


	Set @Id = SCOPE_IDENTITY()
END

GO
/****** Object:  StoredProcedure [dbo].[spLogReferral]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLogReferral]
	@Id int out,
	@Amount money,
	@CandidateId int,
	@RecruiterId int,
	@Comments varchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [TblReferral]
			   ([Rate]
			   ,[CandidateId]
			   ,[RecruiterId]
			   ,[Comments])
		 VALUES
			   (@Amount
			   ,@CandidateId
			   ,@RecruiterId
			   ,@Comments)

	SET @Id = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[spUploadFile]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUploadFile]
	@Id int out,
	@Name varchar(100),
	@FileType varchar(75),
	@Data varbinary(max),
	@UserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [TblFile]
			   ([Name]
			   ,[FileType]
			   ,[Data]
			   ,[UserId])
		 VALUES
			   (@Name, @FileType, @Data, @UserId)

	SET @Id = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[spUserTypes]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spUserTypes]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	SELECT '' AS UserTypeId, '' as UserType
	UNION
	SELECT [UserTypeId],[UserType] FROM [dbo].[RUserType]

END

GO
/****** Object:  Table [dbo].[RAssignmentType]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RAssignmentType](
	[AssignmentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentType] [varchar](50) NULL,
 CONSTRAINT [PK_RAssignmentType] PRIMARY KEY CLUSTERED 
(
	[AssignmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RCandidateType]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RCandidateType](
	[CandidateTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CandidateType] [varchar](50) NULL,
 CONSTRAINT [PK_RCandidateType] PRIMARY KEY CLUSTERED 
(
	[CandidateTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RContactType]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RContactType](
	[ContactTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ContactType] [varchar](50) NULL,
 CONSTRAINT [PK_TblContactType] PRIMARY KEY CLUSTERED 
(
	[ContactTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RCredentials]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RCredentials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_RCredentials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RMiddleInitial]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RMiddleInitial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MiddleInitial] [varchar](1) NULL,
 CONSTRAINT [PK_RMiddleInitial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RNumberType]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RNumberType](
	[NumberTypeId] [int] IDENTITY(1,1) NOT NULL,
	[NumberType] [varchar](50) NULL,
 CONSTRAINT [PK_TblNumberType] PRIMARY KEY CLUSTERED 
(
	[NumberTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RState]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RState](
	[stateID] [int] IDENTITY(1,1) NOT NULL,
	[stateCode] [nchar](2) NOT NULL,
	[stateName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_state] PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RSuffix]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RSuffix](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Suffix] [varchar](20) NULL,
 CONSTRAINT [PK_RSuffix] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RUserType]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RUserType](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [varchar](50) NULL,
 CONSTRAINT [PK_TblUserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RYearsExperience]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RYearsExperience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YearsExperience] [varchar](100) NOT NULL,
 CONSTRAINT [PK_rExperience] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblAccount]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](20) NULL,
	[UserId] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblCompany]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Active] [bit] NULL CONSTRAINT [DF_TblCompany_Active]  DEFAULT ((1)),
	[URL] [varchar](150) NULL,
 CONSTRAINT [PK_TblCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblContact]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblContact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](100) NULL,
	[ContactTypeId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_TblContact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblFile]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblFile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[FileType] [varchar](75) NULL,
	[Data] [varbinary](max) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TblFile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblLocation]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblLocation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [varchar](max) NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_TblLocation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblLog]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [varchar](100) NULL,
	[Method] [varchar](max) NULL,
	[LogDate] [datetime] NULL CONSTRAINT [DF_TblLog_LogDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_TblLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblNotice]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNotice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[Date] [datetime] NOT NULL CONSTRAINT [DF_TblNotice_Date]  DEFAULT (getdate()),
	[NumberOfMessagesSent] [int] NOT NULL,
 CONSTRAINT [PK_TblNotice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblNumber]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblNumber](
	[NumberId] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](25) NULL,
	[UserId] [int] NULL,
	[NumberTypeId] [int] NULL,
 CONSTRAINT [PK_TblNumber] PRIMARY KEY CLUSTERED 
(
	[NumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblOpportunity]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblOpportunity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](250) NULL,
	[Description] [varchar](max) NULL,
	[Amount] [money] NULL,
	[City] [varchar](100) NULL,
	[StateId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_TblOpportunity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblQualification]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblQualification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [varchar](100) NOT NULL,
	[ExperienceId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TblQualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblRecipient]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRecipient](
	[RecipientId] [int] NULL,
	[UserId] [int] NULL,
	[ReferralId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblReferral]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblReferral](
	[ReferralId] [int] IDENTITY(1,1) NOT NULL,
	[ReferralDate] [datetime] NOT NULL CONSTRAINT [DF_TblReferral_ReferralDate]  DEFAULT (getdate()),
	[Rate] [money] NOT NULL,
	[CandidateId] [int] NOT NULL,
	[RecruiterId] [int] NOT NULL,
	[CandidateHired] [bit] NOT NULL CONSTRAINT [DF_TblReferral_CandidateHired]  DEFAULT ((0)),
	[HireDate] [datetime] NULL,
	[Comments] [varchar](max) NULL,
 CONSTRAINT [PK_TblReferral] PRIMARY KEY CLUSTERED 
(
	[ReferralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblSearch]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblSearch](
	[SearchId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LocationPreference] [varchar](max) NULL,
	[DateAvailable] [datetime] NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_TblSearch] PRIMARY KEY CLUSTERED 
(
	[SearchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblUser]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeId] [int] NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleInitialId] [int] NULL,
	[LastName] [varchar](100) NULL,
	[SuffixId] [int] NULL,
	[Active] [bit] NULL CONSTRAINT [DF_TblUser_Active]  DEFAULT ((1)),
 CONSTRAINT [PK_TblUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[xUserCompany]    Script Date: 3/21/2017 6:36:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xUserCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_xUserCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[RAssignmentType] ON 

INSERT [dbo].[RAssignmentType] ([AssignmentTypeId], [AssignmentType]) VALUES (1, N'Contract')
INSERT [dbo].[RAssignmentType] ([AssignmentTypeId], [AssignmentType]) VALUES (2, N'Contract-to-Perm')
INSERT [dbo].[RAssignmentType] ([AssignmentTypeId], [AssignmentType]) VALUES (3, N'Perm')
SET IDENTITY_INSERT [dbo].[RAssignmentType] OFF
SET IDENTITY_INSERT [dbo].[RCandidateType] ON 

INSERT [dbo].[RCandidateType] ([CandidateTypeId], [CandidateType]) VALUES (1, N'Information Technology')
INSERT [dbo].[RCandidateType] ([CandidateTypeId], [CandidateType]) VALUES (2, N'Engineering')
INSERT [dbo].[RCandidateType] ([CandidateTypeId], [CandidateType]) VALUES (3, N'Legal')
SET IDENTITY_INSERT [dbo].[RCandidateType] OFF
SET IDENTITY_INSERT [dbo].[RContactType] ON 

INSERT [dbo].[RContactType] ([ContactTypeId], [ContactType]) VALUES (1, N'Twitter')
INSERT [dbo].[RContactType] ([ContactTypeId], [ContactType]) VALUES (2, N'LinkedIn')
INSERT [dbo].[RContactType] ([ContactTypeId], [ContactType]) VALUES (3, N'Web')
SET IDENTITY_INSERT [dbo].[RContactType] OFF
SET IDENTITY_INSERT [dbo].[RCredentials] ON 

INSERT [dbo].[RCredentials] ([Id], [Username], [Password]) VALUES (1, N'pauljonessoftware@gmail.com', N'Exodus315!')
SET IDENTITY_INSERT [dbo].[RCredentials] OFF
SET IDENTITY_INSERT [dbo].[RMiddleInitial] ON 

INSERT [dbo].[RMiddleInitial] ([Id], [MiddleInitial]) VALUES (1, N'A')
INSERT [dbo].[RMiddleInitial] ([Id], [MiddleInitial]) VALUES (2, N'B')
INSERT [dbo].[RMiddleInitial] ([Id], [MiddleInitial]) VALUES (3, N'C')
SET IDENTITY_INSERT [dbo].[RMiddleInitial] OFF
SET IDENTITY_INSERT [dbo].[RNumberType] ON 

INSERT [dbo].[RNumberType] ([NumberTypeId], [NumberType]) VALUES (1, N'Mobile')
INSERT [dbo].[RNumberType] ([NumberTypeId], [NumberType]) VALUES (2, N'Office')
INSERT [dbo].[RNumberType] ([NumberTypeId], [NumberType]) VALUES (3, N'Home')
SET IDENTITY_INSERT [dbo].[RNumberType] OFF
SET IDENTITY_INSERT [dbo].[RState] ON 

INSERT [dbo].[RState] ([stateID], [stateCode], [stateName]) VALUES (1, N'AL', N'Alabama')
INSERT [dbo].[RState] ([stateID], [stateCode], [stateName]) VALUES (2, N'AK', N'Alaska')
INSERT [dbo].[RState] ([stateID], [stateCode], [stateName]) VALUES (3, N'AZ', N'Arizona')
SET IDENTITY_INSERT [dbo].[RState] OFF
SET IDENTITY_INSERT [dbo].[RSuffix] ON 

INSERT [dbo].[RSuffix] ([Id], [Suffix]) VALUES (1, N'Sr.')
INSERT [dbo].[RSuffix] ([Id], [Suffix]) VALUES (2, N'Jr.')
INSERT [dbo].[RSuffix] ([Id], [Suffix]) VALUES (3, N'II')
SET IDENTITY_INSERT [dbo].[RSuffix] OFF
SET IDENTITY_INSERT [dbo].[RUserType] ON 

INSERT [dbo].[RUserType] ([UserTypeId], [UserType]) VALUES (1, N'Admin')
INSERT [dbo].[RUserType] ([UserTypeId], [UserType]) VALUES (2, N'Candidate')
INSERT [dbo].[RUserType] ([UserTypeId], [UserType]) VALUES (3, N'Recruiter')
SET IDENTITY_INSERT [dbo].[RUserType] OFF
SET IDENTITY_INSERT [dbo].[RYearsExperience] ON 

INSERT [dbo].[RYearsExperience] ([Id], [YearsExperience]) VALUES (1, N'1-3 Yrs.')
INSERT [dbo].[RYearsExperience] ([Id], [YearsExperience]) VALUES (2, N'3-5 Yrs.')
INSERT [dbo].[RYearsExperience] ([Id], [YearsExperience]) VALUES (3, N'5-10 Yrs.')
SET IDENTITY_INSERT [dbo].[RYearsExperience] OFF
SET IDENTITY_INSERT [dbo].[TblAccount] ON 

INSERT [dbo].[TblAccount] ([Id], [Email], [Password], [UserId]) VALUES (1, N'pauljonessoftware@gmail.com', N'purple1!', 1)
INSERT [dbo].[TblAccount] ([Id], [Email], [Password], [UserId]) VALUES (2, N'bsmith@sigmainc.com', N'', 2)
INSERT [dbo].[TblAccount] ([Id], [Email], [Password], [UserId]) VALUES (3, N'Mukeshwar@samitimail.com', N'', 3)
GO
SET IDENTITY_INSERT [dbo].[TblAccount] OFF
SET IDENTITY_INSERT [dbo].[TblCompany] ON 

INSERT [dbo].[TblCompany] ([Id], [Name], [Active], [URL]) VALUES (1, N'Sigma Systems, Inc.', 1, N'www.sigmainc.com')
INSERT [dbo].[TblCompany] ([Id], [Name], [Active], [URL]) VALUES (2, N'Samiti Technology, Inc', 1, N'www.samitimail.com')
INSERT [dbo].[TblCompany] ([Id], [Name], [Active], [URL]) VALUES (3, N'Sigma Systems, Inc.', 1, N'www.sigmainc.com')
GO
SET IDENTITY_INSERT [dbo].[TblCompany] OFF
SET IDENTITY_INSERT [dbo].[TblFile] ON 

SET IDENTITY_INSERT [dbo].[TblFile] OFF
SET IDENTITY_INSERT [dbo].[TblLocation] ON 

INSERT [dbo].[TblLocation] ([Id], [Location], [UserId]) VALUES (1, N'Columbia, SC; Charlotte, NC', 3)
INSERT [dbo].[TblLocation] ([Id], [Location], [UserId]) VALUES (2, N'Charlotte, NC; Columbia, SC', 2451)
SET IDENTITY_INSERT [dbo].[TblLocation] OFF
SET IDENTITY_INSERT [dbo].[TblLog] ON 

INSERT [dbo].[TblLog] ([Id], [Message], [Method], [LogDate]) VALUES (1, N'Incorrect syntax near '')''.', N'spGetRecruitersFromIds', CAST(N'2017-03-20 15:19:48.827' AS DateTime))
INSERT [dbo].[TblLog] ([Id], [Message], [Method], [LogDate]) VALUES (2, N'Object reference not set to an instance of an object.', N'SendMessage', CAST(N'2017-03-20 15:19:48.830' AS DateTime))
INSERT [dbo].[TblLog] ([Id], [Message], [Method], [LogDate]) VALUES (3, N'Procedure or function ''spLogReferral'' expects parameter ''@Comments'', which was not supplied.', N'LogReferral', CAST(N'2017-03-20 15:32:05.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[TblLog] OFF
SET IDENTITY_INSERT [dbo].[TblNotice] ON 

INSERT [dbo].[TblNotice] ([Id], [CandidateId], [Date], [NumberOfMessagesSent]) VALUES (1, 1, CAST(N'2016-10-28 20:40:02.497' AS DateTime), 56)
INSERT [dbo].[TblNotice] ([Id], [CandidateId], [Date], [NumberOfMessagesSent]) VALUES (2, 3, CAST(N'2016-10-30 16:39:24.070' AS DateTime), 2)
INSERT [dbo].[TblNotice] ([Id], [CandidateId], [Date], [NumberOfMessagesSent]) VALUES (3, 3, CAST(N'2016-10-30 16:59:11.320' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[TblNotice] OFF
SET IDENTITY_INSERT [dbo].[TblNumber] ON 

INSERT [dbo].[TblNumber] ([NumberId], [Number], [UserId], [NumberTypeId]) VALUES (1, N'(508) 925-3229', 2, 1)
INSERT [dbo].[TblNumber] ([NumberId], [Number], [UserId], [NumberTypeId]) VALUES (2, N'(732) 516-0066 Ext 3', 3, 1)
INSERT [dbo].[TblNumber] ([NumberId], [Number], [UserId], [NumberTypeId]) VALUES (3, N'(508) 925-3228', 4, 1)
GO
SET IDENTITY_INSERT [dbo].[TblNumber] OFF
SET IDENTITY_INSERT [dbo].[TblQualification] ON 

INSERT [dbo].[TblQualification] ([Id], [JobTitle], [ExperienceId], [UserId]) VALUES (1, N'.Net Engineer', 4, 3)
INSERT [dbo].[TblQualification] ([Id], [JobTitle], [ExperienceId], [UserId]) VALUES (2, N'', 4, 2451)
SET IDENTITY_INSERT [dbo].[TblQualification] OFF
SET IDENTITY_INSERT [dbo].[TblReferral] ON 

INSERT [dbo].[TblReferral] ([ReferralId], [ReferralDate], [Rate], [CandidateId], [RecruiterId], [CandidateHired], [HireDate], [Comments]) VALUES (1, CAST(N'2016-10-28 18:27:50.720' AS DateTime), 5.0000, 1, 2, 0, NULL, N'Candidate referred to So&So Technologies, Inc.')
SET IDENTITY_INSERT [dbo].[TblReferral] OFF
SET IDENTITY_INSERT [dbo].[TblUser] ON 

INSERT [dbo].[TblUser] ([UserId], [UserTypeId], [FirstName], [MiddleInitialId], [LastName], [SuffixId], [Active]) VALUES (1, 1, N'Paul', 1, N'Jones', 2, 1)
INSERT [dbo].[TblUser] ([UserId], [UserTypeId], [FirstName], [MiddleInitialId], [LastName], [SuffixId], [Active]) VALUES (2, 3, N'Brian', NULL, N'Smith', NULL, 1)
INSERT [dbo].[TblUser] ([UserId], [UserTypeId], [FirstName], [MiddleInitialId], [LastName], [SuffixId], [Active]) VALUES (3, 3, N'Mukeshwar', NULL, N'Nath', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[TblUser] OFF
SET IDENTITY_INSERT [dbo].[xUserCompany] ON 

INSERT [dbo].[xUserCompany] ([Id], [UserId], [CompanyId]) VALUES (1, 2, 1)
INSERT [dbo].[xUserCompany] ([Id], [UserId], [CompanyId]) VALUES (2, 3, 2)
INSERT [dbo].[xUserCompany] ([Id], [UserId], [CompanyId]) VALUES (3, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[xUserCompany] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [NonClusteredIndex-20161112-113845]    Script Date: 3/21/2017 6:36:29 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20161112-113845] ON [dbo].[TblAccount]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
