.tableOutline {
    border-style:solid;
    border-color:#C0C0C0;
    border-width:thin;
    width:920px;
}

.centered {
    text-align:center;
}

.centered2 {
  position: fixed;
}


.txtMedInput {
    width:250px;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}