.tableOutline {
    border-style:solid;
    border-color:#C0C0C0;
    border-width:thin;
    width:920px;
    margin:5px;
}

.tableNoOutline {
    width:920px;
    margin:5px;
}

.centered {
    text-align:center;
}

.centered2 {
  position: fixed;
}


.txtMedInput {
    width:250px;
}

.txtXXSmall {
    width:40px;
}

div.fileinputs {
	position: relative;
}

.pageTitle {
    font-weight:bold;
    font-size:24pt;
    color: #C0C0C0;
}